// Variables
$color-primary: #06d6a0;
$color-accent: #2d157f;

$color-background-dark: #121212;
$color-background-light: #f7f7f7;

$color-text-light: #777;

$color-white: #fff;
$color-black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

.container {
  width: 85%;
  max-width: 800px;
  margin-inline: auto;
}

header {
  background-color: $color-background-dark;
  color: white;
}

.hero {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-style: italic;
  text-align: center;

  @media (width >= 450px) {
    gap: 4rem;
    padding: 14rem 0;
  }

  @media (width >= 450px) {
    gap: 5rem;
    padding: 15rem 0;
  }
}

.btn {
  background-color: #06d6a0;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.4rem;
  padding: 0.8rem 2.5rem;
  color: $color-black;
  text-decoration: none;

  @media (width >= 450px) {
    font-size: 1.6rem;
  }

  @media (width >= 450px) {
    font-size: 1.8rem;
  }
}

.title {
  font-style: italic;
  font-weight: 700;

  &--main {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $color-primary;
    display: inline-block;
    background-color: $color-accent;
    padding: 1.4rem 3rem;
    clip-path: polygon(7% 15%, 100% 0, 93% 85%, 0% 100%);

    @media (width >= 450px) {
      font-size: 3rem;
    }

    @media (width >= 900px) {
      font-size: 4rem;
    }
  }

  &--sub {
    font-size: 1.6rem;

    @media (width >= 450px) {
      font-size: 1.8rem;
    }

    @media (width >= 900px) {
      font-size: 2rem;
    }

    span {
      text-decoration-line: underline;
      text-decoration-color: $color-primary;
      text-decoration-thickness: 3px;
      text-underline-offset: 2px;
    }
  }

  &--secondary {
    font-size: 1.6rem;
    font-style: italic;
    text-transform: uppercase;
    color: $color-text-light;
    text-decoration: underline;
    text-decoration-color: #06d6a0;
    text-decoration-thickness: 3px;

    @media (width >= 450px) {
      font-size: 2rem;
    }

    @media (width >= 900px) {
      font-size: 2.2rem;
    }
  }
}

main {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: $color-background-light;
  color: $color-text-light;

  @media (width >= 450px) {
    padding: 5rem 0;
    gap: 5rem;
  }

  @media (width >= 900px) {
    padding: 7rem 0;
    gap: 7rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text {
  font-size: 1.4rem;

  @media (width >= 450px) {
    font-size: 1.6rem;
  }
}

.resource-link {
  color: inherit;
  text-decoration: underline;
  font-weight: 700;
}

table {
  font-size: 1.4rem;

  @media (width >= 450px) {
    font-size: 1.6rem;
  }

  @media (width >= 900px) {
    font-size: 1.8rem;
  }
}

.github-link,
.github-link:link,
.github-link:visited {
  color: inherit;
}

.footer {
  background-color: $color-background-dark;
  padding: 3rem 0;

  &__text {
    color: $color-white;
    font-size: 1.4rem;
    text-align: center;

    .author {
      color: inherit;
    }
  }
}
