// Variables
$color-primary: #06d6a0;
$color-accent: #2d157f;

$color-background-dark: #121212;
$color-background-light: #f7f7f7;

$color-text-light: #777;

$color-white: #fff;
$color-black: #000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

.container {
  width: 85%;
  max-width: 800px;
  margin-inline: auto;
}

header {
  background-color: $color-background-dark;
  color: white;
  height: 40vh;
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-style: italic;

  &__main {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $color-primary;
    display: inline-block;
    background-color: $color-accent;
    padding: 1.4rem 3rem;
    margin-bottom: 2rem;
    clip-path: polygon(7% 15%, 100% 0, 93% 85%, 0% 100%);
  }

  &__sub {
    font-size: 1.6rem;

    span {
      text-decoration-line: underline;
      text-decoration-color: $color-primary;
      text-decoration-thickness: 3px;
      text-underline-offset: 2px;
    }
  }

  &__secondary {
    font-size: 1.6rem;
    font-style: italic;
    text-transform: uppercase;
    color: $color-primary;
    display: inline-block;
    background-color: $color-accent;
    padding: 1rem 2rem;
    clip-path: polygon(7% 15%, 100% 0, 93% 85%, 0% 100%);
    width: fit-content;
  }
}

.section {
  padding: 3rem 0;

  &--light {
    background-color: $color-background-light;
    color: $color-text-light;
  }

  &--dark {
    background-color: $color-background-dark;
    color: $color-white;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text {
  font-size: 1.6rem;
}

.resource-link {
  color: inherit;
  text-decoration: underline;
}

table {
  font-size: 1.4rem;
}

.footer {
  background-color: $color-background-dark;
  padding: 3rem 0;

  &__text {
    color: $color-white;
    font-size: 1.4rem;
    text-align: center;

    .author {
      color: inherit;
    }
  }
}
